@import "theme.scss";
.van-tab{
  font-size: 30px;
  line-height:80px;
}
.van-tabs__wrap{
  height:80px !important;
}
.van-tabs__line{
  width: 90px;
}
// .mescroll-upwarp{
//   padding: 25px 0px !important;
// }
.upwarp-nodata,.empty-tip{
  font-size: 27px !important;
  margin-bottom: 150px;
}
// .mescroll-empty{
//   padding: 30px 0px !important;
// }
.upwarp-tip{
  font-size: 27px !important;
}
.mescroll-bottom{
  margin-bottom: 150px;
  font-size: 27px !important;
}
.mescroll{
  // height:100% !important;
  // overflow: hidden;
  // overflow: auto;
}
.upwarp-nodata{
 margin-bottom: 150px;
 font-size: 27px !important;
}
/*vant轻提示全局样式 */
.van-toast {
  min-width: 250px;
  line-height: 50px;
  font-size: 30px;
  .van-toast__icon {
    font-size: 100px;
  }
}
/* 全局隐藏滚动条 */
::-webkit-scrollbar{
  display: none;
}
/* 烟包支付 */
.user-payment{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .title{
    font-size: 23px;
    color: $greyColor;
  }
  .text{
    font-size: 25px;
  }
  .yin-zhang01,.yin-zhang02{
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    position: absolute;
    background: url('./assets/img/yinzhang.png') no-repeat;
    background-size: 100% 100%;
    color: $redColor;
    transform: rotate(-50deg);
    font-size: 25px;
  }
  .yin-zhang01{
    top: 10px;
    left: 10px;
  }
  .yin-zhang02{
    top: 10px;
    left: 60px;
  }
  // .slide{
  //   height: 100%;
  //   overflow: hidden;
  //   overflow: auto;
  // }
  .whole-package{
    width: 95%;
    height: 400px;
    margin: 20px auto auto auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 25px;
    position: relative;
    .package-bgk{
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -9999;
      width: 100%;
      height: 100%;
    }
    
    .smoke-img{
      width: 228px;
      height: 350px;
      margin-right: 30px;
    }
    .right-con{
      width:61%;
      
    }
    ul li{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      // margin-bottom: 15px;
      overflow: hidden;
      border-bottom: 2px solid $whiteColor;
      box-sizing: border-box;
      padding: 10px 0px;
    }
    ul li .smoke-icon{
      width: 55px;
      height: 55px;
      margin-right: 12px;
    }
    ul li .right-content{
      width: 85%;
      line-height: 38px;
    }
    .right-content p{
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
    
  }
  .boss-info{
     width: 95%;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     margin:20px auto auto auto;
     border-radius: 15px;
     box-sizing: border-box;
     padding: 25px;
     position: relative;
     box-sizing: border-box;
     .boss-bgk{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -9999;
     }
     .img{
       width: 228px;
       height: 228px;
       border: 1px solid $lightGrayColor;
       border-radius: 15px;
       margin-right: 30px;
     }
     .personal-info{
       width: 65%;
     }
     .personal-info .p1{
        margin-bottom: 50px;
        text-overflow: ellipsis;
     }
     .personal-info p{
       width: 95%;
       display: flex;
       flex-wrap: nowrap;
       align-items: center;
       white-space: nowrap;
       overflow: hidden;
     }
     .left{
       background-color: $ashesColor;
       color: $whiteColor;
       font-size: 25px;
       display: flex;
       align-items: center;
       border-radius: 50px;
       box-sizing: border-box;
       padding: 0px 15px;
       height: 50px;
       margin-right: 15px;
     }
     .left i{
       font-size: 35px;
       margin-right: 5px;
     }
  }
  .guanggao-img{
    width: 95%;
    height: 280px;
    display: block;
    margin: 20px auto auto auto;
    border-radius: 15px;
  }
  .user-info{
    width: 95%;
    height: 150px;
    margin: 20px auto auto auto;
    position: relative;
    .info-img{
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: -9999;
    }
    ul{
      width: 100%;
      height: 150px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    .img{
      width: 17%;
    }
    .margin{
      margin: 0px 5px;
    }
    ul li{
      width: 20%;
      box-sizing: border-box;
    }
    .tx-nc{
      margin-right: 5px;
      color:$greyColor;
    }
    ul li img{
      width: 110px;
      height: 110px;
      border-radius: 100px;
    }
    ul li p{
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
    .wx-name{
      text-overflow: ellipsis;
    }
    .text-left{
      text-align: left;
    }
    .but{
      height: 38px;
      line-height: 38px;
      background-color: $redColor;
      color: $whiteColor;
      border-radius: 50px;
      text-align: center;
      font-size: 25px;
      box-sizing: border-box;
      margin-top: 5px;
    }
  }
  .weizhifu{
    margin-bottom: 0px !important;
  }
  .tab{
    // margin-bottom: 100px;
    min-height: 100vw;
    ul{
      margin-top: 35px;
      display: flex;
      flex-wrap: wrap;
    }
    ul li{
      width: 28%;
      height: 300px;
      margin: 0px 20px 30px 20px;
      box-shadow: 0px 0px 10px 5px $lightGrayColor;
      border-radius: 15px;
      position: relative;
      img{
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0px 0px;
      }
    }
    li p{
      box-sizing: border-box;
      padding: 0px 8px;
    }
    li .titel-name{
      word-break: break-all;
      text-overflow: ellipsis;
      box-sizing: border-box;
      padding: 0px 8px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 26px;
      }
      li .yueshou,li .price{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    li .yueshou{
      box-sizing: border-box;
      font-size: 20px;
      color: $greyColor;
      padding: 5px 8px;
      }
     li .price{
      font-size: 25px;
      position: absolute;
      bottom: 5px;
       b{color: $orangeColor;}
     }
  }
  .nopay{
    margin-bottom: 150px !important;
  }
  .footer01{
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: $blueColor 10px 10px 30px 5px ;
    color: $whiteColor;
    background-color: $blueColor;
    box-sizing: border-box;
    padding: 15px 30px;
    z-index: 999;
    p{
      line-height: 50px;
    }
  }
  .footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    box-shadow: $lightGrayColor 10px 10px 30px 5px ;
    background-color: $whiteColor;
    z-index: 999;
    span{
      line-height: 100px;
      height: 100%;
    }
    .price{
      width: 60%;
      font-size: 40px;
      box-sizing: border-box;
      padding: 0px 15px;
      // font-weight: 600;
      color: $orangeColor;
      white-space: nowrap;
      overflow: hidden;
      b{
        font-size: 30px;
        font-weight: 500;
      }
    }
    .pay-but{
      width: 40%;
      background-color: $blueColor;
      color: $whiteColor;
      font-size: 35px;
    }
  }
  .strip{
    width: 95%;
    height: 400px;
    position: relative;
    margin: 20px auto auto auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    .strip-bgk{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: -9999;
    }
    .strip-img{
      width: 75%;
      height: 150px;
      display: block;
      margin:10px auto 5px auto;
    }
    ul{
    }
    ul li{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 18px 0px;
    }
    ul li .left,ul li .rigth{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    ul li .left{
      width: 57%;
    }
    ul li .rigth{
      width: 39%;
    }
    .img{
      width: 50px;
      height: 50px;
      margin-right: 12px;
    }
    .con-text01{
      width: 86.5%;
    }
    .con-text02{
      width: 80%;
    }
     p{
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-align:left;
      text-align: justify;
      line-height: 35px;
    }
    .ellipsis{
      text-overflow: ellipsis;
    }
  }
  .my-swipe{
    height: 320px;
    margin: 30px 0px;
  }
  .guangao-img{
    width: 100%;
    height: 100%;
  }
  .my-swipe .van-swipe__indicators{
    bottom:30px
  }
  .my-swipe .van-swipe__indicator{
     width: 30px;
     height: 30px;
  }
  .swipe-title{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: $whiteColor;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    padding: 0px 15px;
    display: flex;
    align-items: center;
  }
  .huodong-list{
    width: 90%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $eeColor;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
  }
  .huodong-list .huodongImg{
    width: 150px;
    height: 150px;
  }
  .left-huodong{
    width: 60%;
  }
  .left-huodong p{
    line-height: 50px;
  }
  .bot-text{
    color: $greyColor;
    font-size: 25px;
  }
  .tit{
    font-size: 35px;
  }
}

/* 未绑定零售户详情图 */
.detailimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
// /* 支付成功 */
.paymentsuccess {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .msgIcon {
    margin-top: 100px;
    text-align: center;
    font-size: 200px;
    color: $blueColor;
    padding: 0px;
  }
  .msg_text1 {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: $blueColor;
  }
  .msg_text2 {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    color: #999;
  }
}
/* 支付错误 */
.err {
  .msg_text1 {
    margin-top: 20px !important;
    padding: 20px !important;
  }
  .msg_text2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #999;
  }
  .msgIconRed {
    color: red !important;
  }
}
