
@greyColor: #3a3a3a; // 灰色
@lGrayColor: #f3f4f9; // 浅灰色
@fontGreyColor: #8f8c8c; // 字体灰
@eeColor:#eeeeee;
@whiteColor: #fff; // 白色
@blueColor: #378cff; // 蓝色
@mediumBlueColor: #81b6ff; // 中蓝色
@blackColor: #000; // 黑色
@pinkColor: #ff6b6b; // 粉红色
@redColor:#ff3c00; // 红色
