$greyColor:#666; // 灰色
$ashesColor:#646c7c;//炭灰
$lightGrayColor:rgb(207, 205, 205);// 浅灰
$whiteColor:#fff;// 白色
$redColor:red;// 红色
$orangeColor:#ff5400;//橙色
$blackColor: #000; // 黑色
$blueColor:#4486ff;//蓝色
